<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
	<title>Anna Dörnemann - Portfolio</title>
	<link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/style.css">
	<link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/print.css">
	<link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/views.css">
	<link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/tinymce.css">
	<link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style.css">
	<link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style-blessed1.css">
	<link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/select2.css">
	<link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/datepicker.css">
	<link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/cookieconsent.css">
	<link rel="stylesheet" type="text/css" href="../../static/theme/default/static/style/tinymce.css">
	<link rel="stylesheet" type="text/css" href="../../static/theme/default/static/style/style.css">
	<link rel="stylesheet" type="text/css" href="../../static/theme/default/static/style/style-blessed1.css">

</head>

<body>
	<div id="mahara-logo">
		<a href="https://mahara.org/"><img src="../../static/theme/default/static/images/site-logo.png" alt="Mahara export"></a>
	</div>
	<h1><a href="../../index.html">6. Fazit und Ausblick</a></h1>
	<div id="content">
		<div id="breadcrumbs" class="breadcrumbs">
			<ul>
				<li>You are here: <a href="../../index.html">Home</a></li>
				<li>&raquo; Pages</li>
				<li>&raquo; <a href="index.html">6. Fazit und Ausblick</a></li>

			</ul>
		</div>
		<div id="breadcrumbs-footer"></div>


		<div class="breadcrumbs collection">
			<ul>
				<li class="collectionname">E-Sport</li>
				|
				<li><a href="../../views/%31%2e%2d%45%69%6e%6c%65%69%74%75%6e%67/index.html">1. Einleitung</a></li>
				|
				<li><a href="../../views/%32%2e%2d%42%65%67%72%69%66%66%73%6b%6c%61%65%72%75%6e%67%65%6e/index.html">2. Begriffsklaerungen</a></li>
				|
				<li><a href="../../views/%33%2e%2d%4d%69%6b%72%6f%65%62%65%6e%65%2d%53%70%69%65%6c%65%72%2d%75%6e%64%2d%46%61%6e%73/index.html">3. Mikroebene: Spieler und Fans</a></li>
				|
				<li><a href="../../views/%34%2e%2d%4d%65%73%6f%65%62%65%6e%65%2d%57%69%72%74%73%63%68%61%66%74%2d%75%6e%64%2d%4d%65%64%69%65%6e/index.html">4. Mesoebene: Wirtschaft und Medien</a></li>
				|
				<li><a href="../../views/%35%2e%2d%4d%61%6b%72%6f%65%62%65%6e%65%2d%45%69%6e%6f%72%64%6e%75%6e%67%2d%61%75%66%2d%67%65%73%61%6d%74%67%65%73%65%6c%6c%73%63%68%61%66%74%6c%69%63%68%65%72%2d%45%62%65%6e%65/index.html">5. Makroebene: Einordnung auf gesamtgesellschaftlicher Ebene</a></li>
				|
				<li class="selected"><a href="../../views/%36%2e%2d%46%61%7a%69%74%2d%75%6e%64%2d%41%75%73%62%6c%69%63%6b/index.html">6. Fazit und Ausblick</a></li>

			</ul>
		</div>
		<div class="cb"></div>


		<p id="view-description"></p>

		<div id="row_1" class="clearfix">
			<div class="row-content">
				<div id="row_1_column_1" class="column-layout columns1 first last col-width-100" style="width: 100%;">
					<div class="column-content">
						<div class="bt-image panel panel-secondary clearfix " id="blockinstance_89378">
							<h3 class="title panel-heading js-heading">


								E-Sport - around the world





							</h3>


							<div class="block" id="blockinstance_89378_target" data-blocktype-noajax="89378">
								<div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
									<div class="image">
                    <img src="../../files/file/Weltkarte_Collage_jpg.jpg" alt="" itemprop="contentURL">
									</div>


								</div>


							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
		<div id="row_2" class="clearfix">
			<div class="row-content">
				<div id="row_2_column_1" class="column-layout columns1 first last col-width-100" style="width: 100%;">
					<div class="column-content">
						<div class="bt-text panel panel-secondary clearfix " id="blockinstance_82223">
							<h3 class="title panel-heading js-heading">


								6.1 Fazit: vom Nischenprodukt zum Massenphänomen?





							</h3>


							<div class="block" id="blockinstance_82223_target" data-blocktype-noajax="82223">
								<div class="textblock panel-body flush">
									<p style="text-align:justify;">Rechne ich die Vorrecherche, sowie die eigentliche Erstellung dieses Portfolios zusammen, so habe ich mich über
										drei Monate intensiv nur mit E-Sport beschäftigt. Bevor ich mit der Analyse anfing, hatte ich so gut wie keine
										Vorkenntnisse über E-Sport oder Computerspiele. Das war in manchen Momenten ein Nachteil, weil ich in vielen Bereichen
										von Null anfangen musste. Generell denke ich aber, dass meine vorherige "Unwissenheit" für die Bearbeitung des
										Themas von Vorteil war. Dadurch, dass ich ein Neuling in Bezug auf E-Sport war, habe ich die Beschreibungen und
										Interpretationen aus der Sicht eben eines solchen vorgenommen. Im Vergleich zu manchen E-Sport-Experten, die seit
										Jahren selber in der Szene aktiv sind und jede Entwicklung genauestens verfolgen, war ich dem Thema gegenüber wesentlich
										offener und "neutraler" eingestellt, als wenn ich von vornherein eine emotionale Bindung dazu gehabt hätte.</p>
									<p style="text-align:justify;">Von Beginn an wurde mir eines ganz deutlich: Möchte man einen Einblick in die Szene gewinnen und ein tieferes Verständnis
										für die Mechanismen von E-Sport entwicklen, sieht man sich mit Undurchsichtigkeit und wiedersprüchlichen Informationen
										konfrontiert. Was vor 3 Monaten vielleicht noch aktuell war, kann in der Zeitrechnung von E-Sport heute schon wieder
										irrelevant sein. Einige der Zahlen und Daten, die ich in diesem Portfolio angeführt habe, könnten ebenfalls schon
										längst der Vergangenheit angehören. Im Kicker schrieb man beispielsweise noch im Dezember 2014: <a href="http://esport.kicker.de/esport/szene/startseite/616613/artikel_der-esport-und-die-sponsoren.html#omsearchresult">"Die Berührungsängste mit dem Thema eSport sind bei den Geschäftsführern der großen Konzerne immer noch nicht verschwunden. Bisher haben sich fast ausschließlich Hardware-Hersteller und Online-Händler an der Vermarktung und dem Sponsoring der eSport Teams versucht. Ist das Thema eSport zu klein für die Mainstream-Industrie? (Lange: 2014</a>).
										Noch nicht einmal ein Jahr später sieht das schon ganz anders aus: Amazon hat Twitch gekauft, mittlweile investieren
										Energydrink Hersteller wie Redbull oder Monster Energy in E-Sport, genauso wie Coca Cola oder der VfL Wolfsburg.</p>
									<p style="margin-bottom:0cm;text-align:justify;" align="justify">Ebenso wechselhaft sind die Dynamiken innerhalb von Teams und Clans, was unter anderem daran liegt, dass die Altersspanne
										für einen ProGamer relativ gering ist, da die Reaktionsfähigkeit ab einem Gewissen Alter nachlässt. Viel mehr Einfluss
										auf diese Dynamiken hat meinen Beobachtungen nach allerdings die Kurzlebigkeit der einzelnen Spieleszenen. Immer
										mehr neue Computerspiele, die dann auch im E-Sport-Bereich gespielt werden, überschwemmen den Markt. Das macht
										nicht nur den Konkurrenzdruck unter den Spieleherstellern groß, sondern auch das Angebot für den Endkonsumenten.
										So kann eine Spielszene nach nur wenigen Monaten schon wieder in der virtuellen Versenkung verschwinden, wenn sich
										Spieler und Fangemeinde einem neuen Spiel zuwenden. Deswegen passiert es auch recht häufig, dass man einen ProGamer
										erst dem einen Team oder Spiel zuordnet und derselbe Spieler plötzlich bei einem ganz anderen Team/Clan, ein ganz
										anderes Spiel spielt. Um in der Welt des E-Sport zu bestehen, gehört demnach eine große Anpassungsfähigkeit dazu.
										Diese Beobachtung zeigt außerdem, dass die Zukunft von einzelnen Spieleszenen schwer vorhersehbar ist. Wie soll
										man beispielsweise erklären, dass sich ein Spiel wie <em>Counter Strike</em> seit Jahrzehnten als eines der erfolgreichsten
										Computerspiele (ebenso im E-Sport-Bereich) weltweit - mit regionalen Einschränkungen - behaupten kann, obwohl weder
										die Handlung noch die technische Umsetzung des Spiels mit neueren Erscheinungen mithalten kann. Oder wie kommt
										es, dass Indie-Spiele, mit deren kommerziellen Erfolg niemand gerechnet hatte, plötzlich DER neue Hit im E-Sport
										sind. Diesen unberechenbaren Dynamiken kann man sich nur anpassen, wenn man die Szene genau kennt oder sich zumindest
										intensiv mit ihr auseinandersetzt. Das ist besonders wichtig für potentielle Sponsoren und Spielehersteller. </p>
									<p style="margin-bottom:0cm;text-align:justify;" align="justify"> </p>
									<p style="text-align:justify;">Dass sich das E-Sport-Karussell schnell dreht, liegt auch daran, dass der Zugang zu E-Sport realtiv einfach ist,
										daher wachsen ständig neue Spieler, Fans und ProGamer nach. Dabei spielt insbesondere das Medium Internet eine
										entscheidene Rolle für die Verbreitung und den Erfolg der Szene. In einer ersten Instanz bietet das Internet zunächst
										eine Plattform für Spieler. Hier kriegen sie ihre Spiele, hier können sie sich eine Community aufbauen und mit
										ihr in Kontakt treten. Spieler können sich ein eigenes Profil erstellen, mit ihren Usern austauschen und darüber
										ihre eigene Person vermarkten - sie werden quasi zum Konsumgut. Gerade über die Plattform Twitch läuft mittlweile
										eine rege Kommunikation zwischen Spielern und Fans ab - ebenso bei Facebook und Twitter. Twitter fungiert dabei
										fast ausschließlich als Nachrichtenquelle. Diese Verlagerung von Informationshoheit, bekommt insbesondere der E-Sport-Journalismus
										zu spüren; insbesondere der deutsche. An dieser Stelle zeigte sich in der Analyse, dass der E-Sport-Berichterstattung
										genau das das Genick bricht, was auch der Szene im Allgemeinen zu schaffen macht: undurchsichtige Strukturen und
										zu viele Konkurrenzangebote. Das Wachstum des E-Sport-Marktes war in den letzten Jahren immens. Christian Kresse,
										mit dem ich ein Interview zu E-Sport Sponsoring und Marketing geführt habe, sagte im Gespräch, dass es global eigentlich
										keinen Sektor gibt, der wirtschaftlich so lukrativ und ertragreich ist, wie der E-Sport. Umso weniger verwundert
										es, dass jeder ein Stückchen von dem Kuchen abhaben möchte. Nach meiner Einschätzung, befindet sich die E-Sport-Szene
										gerade in einer Konsolidierungsphase, was zwangsläufig zu einer immer stärkeren Professionalisierung und Etablierung
										von E-Sport führen wird. So bleiben am Ende nur die Spieler, Werbeträger, Spielehersteller, Shoutcaster und Spiele
										übrig, die die Strukturen und aktuellen Entwicklungen der E-Sport-Szene genau kennen, einschätzen und für sich
										nutzen können.</p>
									<p style="text-align:justify;">Man kann wirklich sagen, dass es sich bei E-Sport um ein Phänomen handelt. Ein Phänomen, bezüglich seiner User-Zahlen,
										seiner Preisgelder, seines ransanten Wachstums. Auf Grundlage meiner eigenen Analyse plädiere ich allerdings dafür,
										dass man nicht mit zu vielen Superlativen jongliert. Dies ist schon deutlich geworden, als ich mich mit der Berichterstattung
										in deutschen Leitmedien über E-Sport auseinandergesetzt habe. Von außen betrachtet wirkt gerade alles im Bereich
										E-Sport GROß (Ich verweise nur auf meine word cloud "Millionen"). So wird schnell alles in einen Topf geworfen
										und der Blick auf das große Ganze verloren. Es stimmt, dass E-Sport in den letzten Jahren eine Entwicklung durchgemacht
										hat, die sehr vielversprechend aussieht. Es stimmt auch, dass immer mehr nicht technologiebasierte Instanzen das
										Potential - insbesondere wirtschaftlich betrachtet - von E-Sport erkennen und in E-Sport investieren und es stimmt,
										dass E-Sport in immer mehr Nationen auf mehr Akzeptanz stößt. Trotzdem würde ich nicht sagen, dass es sich mittlerweile
										um ein Nischenprodukt handelt, das den Sprung zum Massenphänomen geschafft hat. Dafür ist die Lücke zwischen denen,
										die mit E-Sport aufwachsen und Computerspiele spielen und denen, die keinerlei Bezug hierzu haben, derzeit noch
										zu groß.</p>
									<p style="text-align:justify;">Die Kernzielgruppe, die E-Sport trägt und verfolgt - nämlich Fans und Spieler - besteht überwiegend aus Minderjährigen.
										Das wiederum bedeutet, dass diese Zielgruppe viel stärker von ihrem sozialen Umfeld und demenstprechend dem Einfluss
										ihrer Eltern abhängig ist, als ein Erwachsener. Wenn die Eltern und das soziale Umfeld die Zeit vor dem PC und
										den Berufswunsch "ProGamer" nicht tolerieren, ist dies automatisch eine Bremse für die weitere Entwicklung von
										E-Sport. Zudem lassen sich innerhalb von wenigen Jahren nicht so schnell Jahrzehnte oder Jahrtausend lang kultivierte
										Traditionen und Konventionen über Bord werfen. Das hat das Beispiel Japan deutlich gezeigt.</p>
									<p style="text-align:justify;">E-Sport befindet sich derzeit in einer spannenden Phase: seine Professionalisierung wächst stetig und allmählich
										kristallisiert sich heraus, wer im E-Sport-Bereich Bestand haben wird. Wenn sich E-Sport auch im Mainstream etablieren
										sollte, ergeben sich daraus viele Fragen, die gerade die Wissenschaft als Chance begreifen sollte, um neue Forschungsperspektiven
										realisieren zu können. Meine eigene Analyse hat schon gezeigt, dass E-Sport viele Merkmale erfüllt, die dem Grundgedanken
										des Koblenzer Masterschwerpunktes Medienwissenschaft entspricht:</p>
									<ul>
										<li style="text-align:justify;"><strong><span style="height:115%;">Diskursanalyse multimodaler "Komprimate"</span></strong><span style="height:115%;">: Strukturelle und inhaltliche Analysen audio-visuellen Erklärens, Erzählens und Argumentierens (z.B. bei Spots, Trailern, TV-Jahresrückblicken, Kurznachrichten, Imagefilmen, "Selfies" etc.)</span>											<br>Unter diesem Punkt könnte man beispielsweise Imagefilme von E-Sport-Teams analysieren, Werbefilme für Turniere
											oder die Online-Kommunikation zwischen Spieler und Fans und innerhalb der Fans</li>
										<li style="text-align:justify;"><strong><span style="height:115%;">International vergleichende Medienkulturforschung / Transkulturelle Medienforschung</span></strong>
											<span
												style="height:115%;">: Multimodale Diskursanalysen u.a. zum Klimawandel und zum Vergleich von TV-Jahresrückblicken unter Berücksichtigung
												von Mediensystemen, Medien- und Journalismuskulturen der entsprechenden Länder</span> sowie kulturtypische Formen
												der Medienaneignung. Eine multimodale Diskursanalyse könnte sich hier beispielsweise auf E-Sport beziehen. Als
												fokales Ereignis könnte ein großes Turnier gesetzt werden. Ich habe bereits in einem kleinen Rahmen versucht,
												die unterschiedlichen E-Sport-Szenen in Schweden, den USA, Südkora, China und Japan zu skizzieren. Dieses Unterfangen
												könnte man natürlich noch viel größer anlegen, indem man noch mehr Länder in die Analyse mit einbezieht und oder
												versucht, eine Typologie zu erstellen. Damit meine ich, dass man versuchen könnte, herauszuarbeiten, ob sich
												E-Sport-Szenen nicht nur nach ihrer Geografie (Europa, Asien, Nordamerika etc.) einteilen und beschreiben lassen,
												sondern auch anhand von anderen Kategorien. Das Beispiel Japan, China, Südkorea hat nämlich gezeigt, dass der
												vermeintlich "selbe" Kulturkreis nicht notwendigerweise heißt, dass sich ein Phänomen auf dieselbe Art und Weise
												durchsetzt und ausformt.</li>
									</ul>
									<p style="text-align:justify;">Ich denke, dieses Portfolio hat deutlich gemacht, dass dem E-Sport eine sehr komplexe Struktur zu Grunde liegt,
										die wohl am besten analysiert werden kann, indem man sich einzelne Teilaspekte heraussucht und diese möglichst
										genau und umfassend beschreibt. Abschließend möchte ich noch sagen, dass E-Sport ein "Phänomen in der Mache" ist.
										Wenn Forschung also aktuell und Teil einer spannenden Entwicklung sein möchte, sollte E-Sport defintiv nicht als
										Nischenprodukt abgetan, sondern als relevanter Untersuchungsgegenstand angesehen werden.</p>
								</div>



							</div>
						</div>
						<div class="bt-text panel panel-secondary clearfix " id="blockinstance_84351">
							<h3 class="title panel-heading js-heading">


								7. Literaturverzeichnis





							</h3>


							<div class="block" id="blockinstance_84351_target" data-blocktype-noajax="84351">
								<div class="textblock panel-body flush">
									<ul>
										<li style="text-align:justify;"><span style="font-size:12pt;font-family:'andale mono', times;">Beil, Benjamin (2013): Games-Studies. Eine Einführung. Berlin.</span></li>
									</ul>
									<ul>
										<li><span style="font-size:12pt;font-family:'andale mono', times;">Ben, Trixie (2014): Gildenleitung. London. </span></li>
									</ul>
									<ul>
										<li><span style="font-size:12pt;font-family:'andale mono', times;">Borso V./ Liermann C./ Merziger P. (Hs) (2010): Die Macht des Populären. Politik und populäre Kultur im 20. Jahrhundert. Bielfeld. </span></li>
									</ul>
									<ul>
										<li><span style="font-size:12pt;font-family:'andale mono', times;">Breuer, Markus (2011): <span style="font-style:normal;">eSport – eine Markt- und ordnungsökonomische Analyse. Jena.</span></span>
										</li>
									</ul>
									<ul>
										<li><span style="font-family:'andale mono', times;font-size:12pt;">Butler, Mark (2007): Would you like to play a game? Die Kultur des Computerspielens. Berlin. </span></li>
									</ul>
									<ul>
										<li><span style="font-size:12pt;font-family:'andale mono', times;"><span style="font-weight:normal;">Crawford G./ Rutter J.: </span>
											<span
												style="font-weight:normal;">Playing the Game: performance in digital game audiences S. 212-244. In: </span>Gray J./ Harrington L. C. (Hs):
												Fandom: Identities and Communities in a Mediated World. New York. </span>
										</li>
									</ul>
									<ul>
										<li><span style="font-size:12pt;font-family:'andale mono', times;"><span style="font-weight:normal;">Fritz, Jürgen (2011): </span><em><span style="font-style:normal;">Theorien und Modelle zur Nutzung und Wirkung visueller Spielwelten. Düsseldorf.</span></em></span>
										</li>
									</ul>
									<ul>
										<li><span style="font-family:'andale mono', times;font-size:12pt;">Hepp, Andreas (2006): Transkulturelle Kommunikation. Konstanz.</span></li>
									</ul>
									<ul>
										<li><span style="font-family:'andale mono', times;font-size:12pt;">Hepp, Andreas/ Krotz, Friedrich/ Winter, Carsten (Hs.) (2005): Globalisierung der Medienkommunikation. Wiesbaden.</span></li>
									</ul>
									<ul>
										<li><span style="font-size:12pt;font-family:'andale mono', times;"><strong><span style="font-weight:normal;">Hitzler</span></strong>
											<span
												style="font-weight:normal;">, Ronald/ </span><strong><span style="font-weight:normal;">Honer</span></strong><span style="font-weight:normal;">, Anne/ </span><strong><span style="font-weight:normal;">Pfadenhauer</span></strong>
												<span
													style="font-weight:normal;">, Michaela (Hs.) (2008): Posttraditionale Gemeinschaften. Theoretische und ethnografische Erkundungen. Dortmund.
													</span>
													</span>
										</li>
									</ul>
									<ul>
										<li><span style="font-size:12pt;font-family:'andale mono', times;"><span style="font-weight:normal;">Hortleder, Gerd (1974): </span><em><span style="font-style:normal;">Die Faszination des Fußballspiels. Konstanz. </span></em></span>
										</li>
									</ul>
									<ul>
										<li><span style="font-size:12pt;font-family:'andale mono', times;"><em><span style="font-style:normal;">Hügel, Hans-Otto (2003): Handbuch populärer Kultur. Begriffe, Theorien und Diskussionen. Stuttgart. </span></em>
											</span>
										</li>
									</ul>
									<ul>
										<li><span style="font-family:'andale mono', times;font-size:12pt;">Janssen, Lars (2008): Mobile virtuelle Welten. Technik und Ökonomie von Mobile Gaming Services. Hamburg.</span></li>
									</ul>
									<ul>
										<li><span style="font-family:'andale mono', times;font-size:12pt;">Kim, Seong-Jae (2011): Digitale Medien Südkoreas im soziokulturellen Kontext. FOCUS-Jahrbuch.</span></li>
									</ul>
									<ul>
										<li><span style="font-size:12pt;font-family:'andale mono', times;"><span style="font-weight:normal;">Klemm, Michael (2010): </span><em><span style="font-style:normal;">Doing being a fan im Web 2.0. </span></em></span>
										</li>
									</ul>
									<ul>
										<li><span style="font-family:'andale mono', times;font-size:12pt;">Klimmt, Christoph (2010): Computerspielen als Handlung. Dimensionen und Determinanten des Erlebens interaktiver Unterhaltungsangebote. Köln.</span></li>
									</ul>
									<ul>
										<li><span style="font-family:'andale mono', times;font-size:12pt;">Klimmt, Christoph (2009): Empirische Medienforschung. Kommunikationswissenschaftliche Perspektiven auf Computerspiele. S. 65-74. In: Bevc, Tobias/ Zapf, Holger (Hs.): Wie wir spielen, was wir werden: Computerspiele in unserer Gesellschaft. Konstanz.</span></li>
									</ul>
									<ul>
										<li><span style="font-family:'andale mono', times;font-size:12pt;">Mersch, Dieter (Hs) (2008): Logik und Medialität des Computerspiels. Eine medientheoretische Analyse. S. 19-41. In: Hanke C./ Distelmeyer J./ Mersch D.: Game Over?! Perspektiven des Computerspiels. Bieldefeld. </span></li>
									</ul>
									<ul>
										<li><span style="font-family:'andale mono', times;font-size:12pt;">Okabe, Daisuke (Hs.) (2012): Cosplay, Learning and Cultural Practice. S. 225-249. In: Ito, Mizuko/ Okabe, Daisuke (Hs.): Fandom Unbound. Otaku Culture in a Connected World. Yale. </span></li>
									</ul>
									<ul>
										<li><span style="font-family:'andale mono', times;font-size:12pt;">Röthig Carla, David Prohl (Hs.) (2003): Sportwissenschaftliches Lexikon. Berlin. </span></li>
									</ul>
									<ul>
										<li><span style="font-family:'andale mono', times;font-size:12pt;">Roose, Jochen/ Schäfer, Mike S./ Schmidt-Lux, Thomas (Hs) (2010): Fans. Soziologische Perspektiven. Bonn.</span></li>
									</ul>
									<ul>
										<li><span style="font-family:'andale mono', times;font-size:12pt;"><span style="font-weight:normal;">Schmuck, Andre/ Schmuck, Patrick (2009): </span>Einflüsse
											vergesellschaftender Faktoren auf posttraditionale Vergemeinschaftungsformen am Beispiel der eSport-Szene. S.
											4-43. In: Compagna D./Shire, K.: Kultur- und Techniksoziologische Studien. Duisburg-Essen. </span>
										</li>
									</ul>
									<ul>
										<li><span style="font-family:'andale mono', times;font-size:12pt;">Schwitzer, Klemens (2010): Kulturelle Grundlagen der Medialisierung in Südkorea. Eine qualitative Studie am Beispiel der Fernsehnutzung. Wiesbaden. </span></li>
									</ul>
									<ul>
										<li style="text-align:justify;"><span style="font-family:'andale mono', times;font-size:12pt;">Zapf, Holger (Hs.) (2009): Computerspiele als Massenmedien. Simualtion, Interaktivität und Unterhaltung aus medientheoretischer Perspektive. S. 11-25. In: Bevc, Tobias/ Zapf, Holger (Hs.): Wie wir spielen, was wir werden: Computerspiele in unserer Gesellschaft. Konstanz.</span></li>
									</ul>
								</div>



							</div>
						</div>

					</div>
				</div>

			</div>
		</div>




	</div>
	<div id="footer">
		<p>Copyright 2017 Anna D&ouml;rnemann</p>
	</div>
</body>

</html>