<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
	<title>Anna Dörnemann - Portfolio</title>
	<link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/style.css">
	<link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/print.css">
	<link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/views.css">
	<link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/tinymce.css">
	<link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style.css">
	<link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style-blessed1.css">
	<link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/select2.css">
	<link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/datepicker.css">
	<link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/cookieconsent.css">
	<link rel="stylesheet" type="text/css" href="../../static/theme/default/static/style/tinymce.css">
	<link rel="stylesheet" type="text/css" href="../../static/theme/default/static/style/style.css">
	<link rel="stylesheet" type="text/css" href="../../static/theme/default/static/style/style-blessed1.css">

</head>

<body>
	<div id="mahara-logo">
		<a href="https://mahara.org/"><img src="../../static/theme/default/static/images/site-logo.png" alt="Mahara export"></a>
	</div>
	<h1><a href="../../index.html">1. Einleitung</a></h1>
	<div id="content">
		<div id="breadcrumbs" class="breadcrumbs">
			<ul>
				<li>You are here: <a href="../../index.html">Home</a></li>
				<li>&raquo; Pages</li>
				<li>&raquo; <a href="index.html">1. Einleitung</a></li>

			</ul>
		</div>
		<div id="breadcrumbs-footer"></div>


		<div class="breadcrumbs collection">
			<ul>
				<li class="collectionname">E-Sport</li>
				|
				<li class="selected"><a href="../../views/%31%2e%2d%45%69%6e%6c%65%69%74%75%6e%67/index.html">1. Einleitung</a></li>
				|
				<li><a href="../../views/%32%2e%2d%42%65%67%72%69%66%66%73%6b%6c%61%65%72%75%6e%67%65%6e/index.html">2. Begriffsklaerungen</a></li>
				|
				<li><a href="../../views/%33%2e%2d%4d%69%6b%72%6f%65%62%65%6e%65%2d%53%70%69%65%6c%65%72%2d%75%6e%64%2d%46%61%6e%73/index.html">3. Mikroebene: Spieler und Fans</a></li>
				|
				<li><a href="../../views/%34%2e%2d%4d%65%73%6f%65%62%65%6e%65%2d%57%69%72%74%73%63%68%61%66%74%2d%75%6e%64%2d%4d%65%64%69%65%6e/index.html">4. Mesoebene: Wirtschaft und Medien</a></li>
				|
				<li><a href="../../views/%35%2e%2d%4d%61%6b%72%6f%65%62%65%6e%65%2d%45%69%6e%6f%72%64%6e%75%6e%67%2d%61%75%66%2d%67%65%73%61%6d%74%67%65%73%65%6c%6c%73%63%68%61%66%74%6c%69%63%68%65%72%2d%45%62%65%6e%65/index.html">5. Makroebene: Einordnung auf gesamtgesellschaftlicher Ebene</a></li>
				|
				<li><a href="../../views/%36%2e%2d%46%61%7a%69%74%2d%75%6e%64%2d%41%75%73%62%6c%69%63%6b/index.html">6. Fazit und Ausblick</a></li>

			</ul>
		</div>
		<div class="cb"></div>


		<p id="view-description">
			<p style="margin-bottom:0cm;font-weight:normal;" align="center"><span style="font-family:'Albertus MT Lt', sans-serif;"><span style="font-size:medium;">Sind Gamer die Superstars von morgen? E-Sport: seine Anfänge, Strukturen und Aussichten<br></span></span>
			</p>
		</p>

		<div id="row_1" class="clearfix">
			<div class="row-content">
				<div id="row_1_column_1" class="column-layout columns1 first last col-width-100" style="width: 100%;">
					<div class="column-content">
						<div class="bt-image panel panel-secondary clearfix " id="blockinstance_78678">
							<h3 class="title panel-heading js-heading">


								Um unfassbare 18 Mio. US Dollar wurde beim diesjährigen Dota 2 World Cup gespielt





							</h3>


							<div class="block" id="blockinstance_78678_target" data-blocktype-noajax="78678">
								<div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
									<div class="image">
										<img src="../../files/file/Dota 2_World Cup_2015_2.jpg" alt="" itemprop="contentURL">
									</div>


								</div>



							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
		<div id="row_2" class="clearfix">
			<div class="row-content">
				<div id="row_2_column_1" class="column-layout columns2 first col-width-50" style="width:48%;">
					<div class="column-content">
						<div class="bt-textbox panel panel-secondary clearfix " id="blockinstance_62519">
							<h3 class="title panel-heading js-heading">


								1. Vom Nischenprodukt zum Massenphänomen





							</h3>


							<div class="block" id="blockinstance_62519_target" data-blocktype-noajax="62519">
								<div class="panel-body flush">
									<p style="text-align:justify;">Es ist schon interessant, wohl jeder - auch Sportnichtinteressierte - kennt die Namen <em>Christiano Ronaldo</em>,
										<em>Steffi Graf</em> oder <em>Tiger Woods</em> und kann diese zuordnen. Wie steht es aber mit Namen wie<em> Saahil Arora</em>,
										<em>Peter Dager</em> oder <em>Kurtis Ling</em>? Nein? Klingelt es nicht? Arora, Dager und Ling sind die momentanen
										<a href="http://www.esportsearnings.com/players">(2015) Top Player in der E-Sport Szene</a>. Bei dem diesjährigen<em> Dota 2 International World Cup</em>										wurden rund <a href="http://dotablast.com/ti5-prize-pool-how-we-compare-to-10-traditional-sports/"> $18,000,000 Dollar als Preisgeld</a>										ausgeschrieben. Zum Vergleich, populäre und traditionelle Sportveranstaltungen wie der <em>Masters Tournament</em>										(Golf) oder der S<em>uper Bowl</em> gaben 2015 jeweils eine Summe von $10,000,000 und $8,000,000 Dollar für den
										Sieger frei. Was ist das also für ein neues Phänomen, das solche Summen generiert und augenscheinlich die Superstars
										von morgen heranzüchtet? Das bei großen Turnieren bis zu 40.000 Zuschauer in einer riesen Arena vereint, die gebannt
										auf riesige Bildschirme blicken, wenn zwei oder mehrere Spieler gegeneinander PC-Spiele spielen? Aber zunächst
										einmal alles auf Werkseinstellungen:</p>
									<p><img style="margin-left:auto;margin-right:auto;" src="https://upload.wikimedia.org/wikipedia/en/5/59/Pac-man.png"
											alt="Pacman wurde 1980 in Japan herausgebracht" width="300" height="386"></p>
									<p style="text-align:justify;">Bereits in den 1970er und 1980er Jahren halten Computerspiele in Form von Spielekonsolen (PONG oder PAC-MAN) in
										immer mehr Wohnzimmer Einzug. Lange Zeit sind sie jedoch mehr Nischenprodukt, sind verschrien als Kinderspielzeug
										und Zeitvertreib für Nerds. Mittlerweile ist allerdings nicht mehr abstreitbar, dass Computerspiele ein zentraler
										Bestandteil von Populärer Kultur sind (vgl. auch Beil 2013: 1). Computerspiele werden in journalistischen Texten
										verarbeitet, sind Teil wissenschaftlicher Diskurse und relevant für die Wirtschaft - immerhin ist das Unterhaltungsmedium
										<em>Computerspiel</em> inzwischen zu einem Massenphänomen avanciert, das stetig wächst und Umsatz aquiriert:</p>
									<address style="text-align:justify;">"Die breite Öffentlichkeit und die Wissenschaft beginnen zu erkennen, was die Kids seit mehr als zwanzig Jahren
										wissen: Computerspiele sind ein ernst zu nehmendes Phänomen, welches die &gt;&gt;space invasion&lt;&lt; unserer
										Köpfe, Köper und Lebenswelten noch lange nicht beendet hat" (Butler 2007: 7).</address>
									<p style="text-align:justify;">Die Forschung brauchte etwas länger, um das wissenschaftliche Potential von Computerspielen zu erkennen. Immernoch
										stammen die meisten Forschungsarbeiten zu Computerspielen vermehrt aus der Pädagogik. Wobei es hier insbesondere
										um die Auswirkungen (Gewaltbereitschaft und Suchverhalten) von Computerspielen auf Kinder und Jugendliche geht.
										So war das Computer- oder <a href="http://www.spiegel.de/wissenschaft/mensch/egoshooter-debatte-rohrkrepierer-gegen-ballerspiele-a-449843.html">"Ballerspiel</a>"
										lange Zeit immer wieder im Verruf, zu gewalttätigem Verhalten zu führen. Dass nicht jedes Computerspiel ein Kriegs-
										oder Kampfspiel ist und aus einem Kind nicht automatisch ein Amokläufer wird, wenn es viel Computer spielt, wurde
										ignoriert.</p>
									<p style="text-align:justify;">Seit den 1990er Jahren etabliert sich jedoch in den USA und Skandinavien ein eigenes Forschungsfach, dass sich <em>Game Studies</em>										nennt. Hier werden beispielsweise das Spieldesign oder die Rolle von Computerspielern in und auf Kultur und Gesellschaft
										genauer in den Fokus genommen. Dabei sind die Game Studies interdisziplinär ausgerichtet. Sie verbinden Forschungsbereiche
										wie die Computerwissenschaft, Psychologie, Soziologie, Anthropologie, Medien- oder Kommunikationswissenschaft.
										Da die möglichen Anknüpfungspunkte enorm vielfältig sind, entsteht allerdings ein Problem: Durch die Vielfalt,
										die das Thema bietet, "ergibt sich so insgesamt ein äußerst heterogenes, vielfach gebrochenes und so mitunter auch
										verwirrendes Bild auf das Massenmedium Computerspiel" (Zapf 2009: 12). Diese Problematik wird im Laufe des Portfolio
										in einem seperaten Kapitel nochmals aufgegriffen und thematisiert.</p>
									<p style="text-align:justify;">An dieser Stelle soll gerade nur deutlich gemacht werden, dass Computerspiele schon lange keine Nischenprodukte
										mehr sind. Video- und Computerspiele durchdringen unsere Alltagswelt. Ob auf dem Smartphone, dem Tablet oder dem
										heimischen PC, sie können theoretisch zu jeder Zeit und an jedem Ort zum Einsatz kommen. Ohne Computerspiele, gäbe
										es auch keine E-Sport-Szene. Gerade weil E-Sport quasi ein Produkt der Computerspielbranche ist, wird es in diesem
										Portfolio auch immer wieder Überschneidungen zwischen beiden Szenen geben. Noch kann man die Computerspielszene
										untersuchen und analysieren, ohne E-Sport dabei zu involvieren. E-Sport völlig losgelöst von Computerspielen zu
										betrachten, ist allerdings nicht möglich.</p>
									<p style="text-align:justify;"><img src="http://www.online-wetten.co/wp-content/uploads/2015/07/esport-competition.jpg" alt="" width="600" height="450"></p>
									<p style="text-align:justify;">Beschäftigt man sich näher mit E-Sport, der in den letzten Jahren immer mehr an Fahrtwind gewinnt und sich momentan
										an einem entscheidenden Punkt befindet - insbesondere in Bezug auf seine Reputation und Professionalisierung, fällt
										eines auf: Die E-Sport-Szene ist sehr undurchsichtig. Momentan gibt es noch keinen weltweit oder national anerkannten
										Dachverband. Daher treten Spieler und Teams in Ligen und Turnieren verschiedener Veranstalter an. Alleine Turniere
										gibt es unzählige. Auf der Website <a href="http://www.esportsearnings.com/">E-Sports Earnings</a>, die einen umfassenden
										Überblick über aktuelle Kennzahlen liefert, sind gut 200 verschiedene Turniere gelitstet, die jeweils unterschiedliche
										Spiele zum Star ihres Wettkampfes machen. Möchte man also bestimmte Kennzahlen oder Daten über E-Sport erlangen,
										gilt es sich zunächst durch ein Dickicht an Informationen zu wühlen. Zudem findet die Berichterstattung über E-Sport
										und seine Events hauptsächlich online statt. Es kann über ein Event berichtet werden, ohne direkt vor Ort sein
										zu müssen. Die Spiele können alle live und online mitverfolgt werden. Diese integrierte "Mitschau"-Funktion erlaubt
										es den Zuschauern, sich direkt in das Spiel einzuloggen, ohne dass es dazu überhaupt einen Video-Stream benötigt.
										So können weltweit, zur selben Zeit, unendlich viele Spiele gespielt, gezeigt und angeschaut werden. Die genauen
										Organisationstrukturen von E-Sport auszumachen stelllt sich demnach als schwieriges Unterfangen dar:</p>
									<p style="text-align:justify;"><em>"It may be trivial to find information on a single tournament, but try doing this for thousands of them. It's very difficult. Player results are incomplete. Entire tournaments and events are missing. Team rosters are still unknown. Some of this information is hiding in non-English websites" (<a href="http://www.esportsearnings.com/tips">e-Sports Earnings</a>). </em></p>
									<p style="text-align:justify;">Aber warum ist es überhaupt so mühselig, sich ein genaues Bild von E-Sport zu machen? Liegt es an seiner vergleichsweise
										jungen Geschichte oder handelt es sich bei E-Sport um ein so neuartiges Phänomen, das erst noch richtig beschrieben
										werden muss? Deswegen soll es in diesem Portfolio darum gehen, E-Sport vorzustellen. Dabei werde ich die einzelnen
										Ebenen von E-Sport wie eine Zwiebel schälen und freilegen, um sie analysieren zu können. So soll sich am Ende ein
										strukturierter und umfangreicher Einblick über die Anfänge, sowie die Struktur und die Aussichten von E-Sport ergeben.
										Der Aufbau von Mahara ermöglicht dabei eine multimodale Aufbereitung. Das Thema bietet sich dafür herrvorragend
										an, weil sich E-Sport ohnehin multimodal gestaltet und es im Netz einen unerschöpflichen Fundus an Video-, Film-
										und Bildmaterial, sowie Online-Artikeln und Fanforen gibt.</p>
									<p style="text-align:justify;">==========================================================================</p>
									<p style="text-align:justify;"><strong>An dieser Stelle möchte ich darauf hinweisen, dass es per Definition einen Unterschied zwischen Computer- und Videospiel gibt.</strong></p>
									<p style="text-align:justify;"><strong><em>Videospiel</em> ist ein Sammelbegriff für Spiele, die auf jeder Form von elektronischem Medium, sei es ein Portable Device, Smartphone, Handheld, eine Konsole oder eben auch auf dem Computer gespielt werden können. Computerspiele hingegen werden nur auf dem Computer gespielt, und zwar einen solchen, wie man ihn im Volksmund versteht. Also eine ''Rechenmaschine", die nicht nur für Spiele, sondern zum Arbeiten verwendet wird. Eine Konsole wiederum, wie die Xbox oder die Nintendo Wii, ist rein zum Spielen konzipiert. Faktisch aber gibt es keinen Unterschied. Beide Begriffe können sich auf das gleiche Medium beziehen. Im weiteren Verlauf werde ich den Begriff <em>Computerspiel</em> verwenden. Nur wenn es im Sachverhalt um Spielekonsolen geht, werde ich den Begriff <em>Videospiel</em> benutzen.</strong></p>


								</div>







								<a href="https://mahara.uni-koblenz.de/artefact/artefact.php?artefact=57294&amp;view=11778&amp;block=62519" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>


							</div>
						</div>

					</div>
				</div>
				<div id="row_2_column_2" class="column-layout columns2 last col-width-50" style="width:48%;">
					<div class="column-content">
						<div class="bt-text panel panel-secondary clearfix " id="blockinstance_64258">
							<h3 class="title panel-heading js-heading">


								1.2 Aufbau des Portfolio





							</h3>


							<div class="block" id="blockinstance_64258_target" data-blocktype-noajax="64258">
								<div class="textblock panel-body flush">
									<p style="text-align:justify;">Das Portfolio besteht aus sechs Seiten, die wiederum in verschiedene Unterkapitel untergliedert sind. Die erste
										Seite beinhaltet Kapitel eins bis drei: die Einleitung <em>Vom Nischenprodukt zum Massenphänomen,</em> den Aufbau
										des Portfolio, sowie eine Erklärung darüber, mit welcher Methodik die Fragestellungen bearbeitet werden soll.</p>
									<p style="text-align:justify;">Seite zwei (Kapitel 2) soll Definitionen und Abgrenzungen für in der Analyse relevante Termini und Konzepte liefern.
										Zu Beginn werde ich darauf eingehen, welche Forschungsbereiche sich überhaupt mit Computerspielen beschäftigen
										und mit welchen Fragestellungen sie arbeiten. Diese wissenschaftliche Einordnung erfolgt, um einen Eindruck darüber
										zu erhalten, auf welchem Stand die Forschung sich momentan befindet. Dem anschließend möchte ich zunächst versuchen,
										den Begriff <em>Computerspiel</em> genauer zu definieren, um deutlich zu machen, wie dieser im weiteren Verlauf
										des Portfolios benutzt und verstanden wird. Gleiches erfolgt für die Konzepte <em>Transkulturalität </em>und<em> transkulturelle Kommunikation</em>.
										Diese Begriffsbestimmung ist wichtig, um auf der Makroebene einordnen zu können, ob E-Sport glokale Ausprägungen
										hat oder als transkulturelles Phänomen bezeichnet werden könnte. Daher werde ich einen Abschnitt dem Terminus <em>Globalisierung</em>										widmen, um dem anschließend das Konzept der <em>Mediatisierung</em> genauer zu erläutern. Die Absteckung dieser
										Begriffe ist besonders wichtig für die Analyse auf der Makroebene. Außerdem werde ich mich mit dem Begriff <em>Populäre Kultur</em>										auseinandersetzen. Wie schon in der Einleitung angeklungen ist, beschreibt die Wissenschaft den Terminus <em>Computerspiel </em>sowohl
										als 'Massenmedium' als auch als 'Unterhaltungsmedium'. E-Sport wiederum ist ein Teil von und Produkt Populärer
										Kultur. Daher ist es notwendig, diesen Begriff zu definieren und abzustecken. Außerdem wird Kapitel zwei Grundlagen
										für die spätere Analyse legen. Das heißt, dass wichtige Begriffe, die für das Verständnis von E-Sport und dessen
										Strukturen wichtig sind, erläutert werden.</p>
									<p style="text-align:justify;">Nach der theoretischen Einordnung von E-Sport folgt der empirische Teil des Portfolio. Vorab habe ich zunächst drei
										Säulen herausgearbeitet, die E-Sport grob beschreiben: die<strong> Wirtschaft/Industrie</strong>, die <strong>Spieler</strong>										und die<strong> Fans</strong>. Säule eins umfasst Ligenausrichter, Sponsoren, Spielenentwickler (Game Designer),
										Verbände, das Marketing und die Medien. Säule zwei umfasst Einzelspieler und Teams. Säule drei schließlich, wird
										von den Fans getragen. Auf drei Seiten sollen diese drei Bestandteile auf der Mikro-, Meso und Makroebene untersucht
										werden. Dabei soll ein vielfältiger Gesamteindruck entstehen, der durch Bilder, Videos, Online-Artikel und Interviews
										getragen wird. Außerdem wurden auch eigene Interviews geführt.</p>
									<p style="text-align:justify;">Auf der Mikroebene werde ich mich gezielt den Spielern und den Fans von E-Sport widmen, aber auch im allgemeinen
										über die Motivation, Computerspiele zu spielen, sprechen. Auf der Mesoebene wird es dann um die wirschaftliche
										Seite von E-Sport (Sponsoring und Marketing) und um die Berichterstattung in deutschen Leitmedien und die E-Sport
										Presse selbst gehen. Hier werde ich eine eigene Medienanalyse durchführen, um Muster herauszuarbeiten. Auf der
										Makroebene wird es schließlich darum gehen, E-Sport in einen gesamtgesellschaftlichen Kontext zu setzen.</p>
									<p style="text-align:justify;">Auf der letzten und somit sechsten Seite des Portfolio werden die Ergebnisse zusammengefasst. Zudem wird ein Fazit
										gezogen und ein anschließender Ausblick gegeben.</p>
								</div>



							</div>
						</div>
						<div class="bt-image panel panel-secondary clearfix " id="blockinstance_76848">
							<h3 class="title panel-heading js-heading">


								3 Säulen





							</h3>


							<div class="block" id="blockinstance_76848_target" data-blocktype-noajax="76848">
								<div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
									<div class="image">
										<a href="https://mahara.uni-koblenz.de/artefact/artefact.php?artefact=66144&amp;view=11778">
											<img src="../../files/file/Säulen_gelb.jpg.1" alt="" itemprop="contentURL">
										</a>
									</div>


								</div>

								<div class="comments pull-left">

									<a class="addcomment link-blocktype" href="https://mahara.uni-koblenz.de/artefact/artefact.php?view=11778&amp;artefact=66144">
										<span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span> Add comment
									</a>

								</div>

								<div class="feedback modal modal-docked" id="feedbacktable_76848">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header clearfix">
												<button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
												<h4 class="modal-title pull-left">
													<span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span> Comments - Säulen_gelb.jpg.1
												</h4>
												<a class="addcomment pull-right" href="https://mahara.uni-koblenz.de/artefact/artefact.php?view=11778&amp;artefact=66144">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>

											</div>
											<div class="modal-body flush">
												<!-- The "feedbacktable" class is used as an identifier by Javascript -->
												<div class="list-group list-group-lite">

												</div>

											</div>
										</div>
									</div>
								</div>





								<a href="https://mahara.uni-koblenz.de/artefact/artefact.php?artefact=66144&amp;view=11778&amp;block=76848" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>


							</div>
						</div>
						<div class="bt-text panel panel-secondary clearfix " id="blockinstance_74519">
							<h3 class="title panel-heading js-heading">


								1.3 Methodik





							</h3>


							<div class="block" id="blockinstance_74519_target" data-blocktype-noajax="74519">
								<div class="textblock panel-body flush">
									<p style="text-align:justify;">In der vorliegenden Arbeit werde ich empirisch vorgehen. Das Untersuchungsmaterial wird dabei quantitativ und qualitativ
										ausgewertet. Eine Kombination aus beiden Methoden ist sinnvoll: Einerseits bieten sie einen facettenreichen Einblick
										in beispielsweise Prozesse, Einstellungen, Erwartungen etc., die für Individuen und ihre Lebenswelten bedeutsam
										sind. Andererseits geben sie klar strukturierte, verallgemeinerte Aussagen über Gruppen, soziale Prozesse und Strukturen;
										somit  verbinden beide Ansätze dichte qualitative Beschreibungen mit allgemeinen quantitativen Beschreibungen mit
										allgemeinen Erklärungen der sozialen Wirklichkeiten (vgl. Drexler, Niedermair, Suesserott 2006, S.6 ff). Im Verlauf
										der Analyse werden demnach Daten erhoben und evaluiert. Um Struktur in die Untersuchung zu bringen, habe ich zu
										jeder Ebene Forschungsfragen erarbeitet, die im folgenden PDF dargestellt sind.</p>
								</div>



							</div>
						</div>
						<div class="bt-pdf panel panel-secondary clearfix " id="blockinstance_90750">
							<h3 class="title panel-heading js-heading">


								1.3.1 Mikro-, Meso-, und Makroebene





							</h3>


							<div class="block" id="blockinstance_90750_target" data-blocktype-noajax="90750">
								<div class="panel-body">
									<iframe src="https://mahara.uni-koblenz.de/artefact/file/blocktype/pdf/viewer.php?editing=&ingroup=&file=74894&lang=en&view=11778"
										width="100%" height="500" frameborder="0"></iframe>
								</div>




								<a href="https://mahara.uni-koblenz.de/artefact/artefact.php?artefact=74894&amp;view=11778&amp;block=90750" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>


							</div>
						</div>
						<div class="bt-image panel panel-secondary clearfix " id="blockinstance_76850">
							<h3 class="title panel-heading js-heading">


								Mikro-, Meso-, und Makroebene





							</h3>


							<div class="block" id="blockinstance_76850_target" data-blocktype-noajax="76850">
								<div class="imageblock panel-body" itemscope itemtype="http://schema.org/ImageObject">
									<div class="image">
										<a href="https://mahara.uni-koblenz.de/artefact/artefact.php?artefact=74895&amp;view=11778">
											<img src="../../files/file/Säulen_neu.png" alt="" itemprop="contentURL">
										</a>
									</div>


								</div>

								<div class="comments pull-left">

									<a class="addcomment link-blocktype" href="https://mahara.uni-koblenz.de/artefact/artefact.php?view=11778&amp;artefact=74895">
										<span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span> Add comment
									</a>

								</div>

								<div class="feedback modal modal-docked" id="feedbacktable_76850">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header clearfix">
												<button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
												<h4 class="modal-title pull-left">
													<span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span> Comments - Säulen_neu.png
												</h4>
												<a class="addcomment pull-right" href="https://mahara.uni-koblenz.de/artefact/artefact.php?view=11778&amp;artefact=74895">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>

											</div>
											<div class="modal-body flush">
												<!-- The "feedbacktable" class is used as an identifier by Javascript -->
												<div class="list-group list-group-lite">

												</div>

											</div>
										</div>
									</div>
								</div>





								<a href="https://mahara.uni-koblenz.de/artefact/artefact.php?artefact=74895&amp;view=11778&amp;block=76850" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>


							</div>
						</div>

					</div>
				</div>

			</div>
		</div>




	</div>
	<div id="footer">
		<p>Export generated for Anna Dörnemann on 14 January 2017, 11:35 AM, from their portfolio at <a href="https://mahara.uni-koblenz.de/">Mahara</a></p>
	</div>
</body>

</html>